In [ ]:
print("hello")

# first notebook

In [ ]:
# THE ABOVE IS USED AS A MARKDOWN. ON A CELL, CHANGE CODE TO MARKDOWN FROM TOOLBAR AND THEN IN THE CELL USE "#" TO MAKE A MARKDOWN CELL

# if else statements

In [ ]:
if 25 < 10 or 1 < 3:
    print(" 'if' worked")
    # NESTED IF STATEMENT
    if 10 > 5:
        print("nested 'if' worked")
elif 25 < 20:
    print("'elif' worked")
    if 10 > 5:
        print("nested 'if' worked")
elif 25 < 30:
    print("'elif 2' worked")
else:
    ("nothing worked")

# for loop

In [ ]:
integer = [1,2,3,4,5]
for number in integer:
    print(number)

In [ ]:
integer = [1,2,3,4,5]
for number in integer:
    print("yep")

In [ ]:
integer = [1,2,3,4,5]
# x,number etc are all variables
for x in integer:
    print(x+x)

In [ ]:
ice_cream = {'name':"sameer","weekly intake":3,"favourite ice cream":["choc","butter","vanilla"]}
#for cream in ice_cream:
#    print(cream)                          #this returns only the name of keys
#for cream in ice_cream.values():
#    print(cream)                        #this returns only the values of keys
for key,value in ice_cream.items():
    print(key,'->',value)                # this returns both key and value

In [ ]:
# NESTED FOR LOOP
flavours = ['choc','vanilla','mint','pista']
toppings = ['choc rice','oreo','brownie','syrup']

for one in flavours:
    for two in toppings:
        print(one, two)

# WHILE LOOPS

In [ ]:
number = 0

while number <= 5:
    print(number)
    number = number + 1

In [ ]:
number = 0

while number < 5:
    print(number)
    if number == 3:
        break
    number = number + 1

In [ ]:
number = 0

while number < 5:
    print(number)
    if number == 6:
        continue
    number = number + 1
else:
    print("no longer < 5")

In [ ]:
# this will execute infinitely, press stop kernel
number = 0

while number < 5:
    print(number)
    if number == 3:
        continue
    number = number + 1
else:
    print("no longer < 5")

In [ ]:
number = 0

while number < 5:
    number = number + 1
    if number == 3:
        continue
    print(number)
else:
    print("no longer < 5")

# FUNCTIONS

In [7]:
def first_function():
    print("we did it.")

# calling the function
first_function()

we did it.

In [17]:
# functions with arguments

def number_squared(number):
    print(number**2)

number_squared(2)

4

In [23]:
# functions with multiple arguments

def number_squared_custom(number, power):
    print(number**power)

number_squared_custom(5,6)

15625

In [41]:
# arbitrary function
# used when we dont know how many arguments we want to pass through

args_tuple =  (5,6,4,1,7,8)

def number_args(*number):
    print(number[0]*number[1])

number_args(*args_tuple)

30

In [45]:
# keyword arguments
def number_squared_cust(number, power):
    print(number**power)

number_squared_cust(power = 5, number = 3)

243

In [72]:
# keyword arbitrary argument
def number_kwargs(**number):
    print('My number is : ' + number['integer'] + 
         'My other number : ' + number ['integer2'])

number_kwargs(integer = '2309', integer2 = '123')

My number is : 2309My other number : 123